{% extends 'base.html.twig' %}

{% block body %}


<h1>Bienvenue dans ce blog d'articles</h1>

{% if age > 18 %}
    <p>Tu es majeur</p>
{% else %}
    <p>Tu es mineur</p>
{% endif %}

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam atque, culpa eligendi est et eum hic ipsum iste
    labore laudantium nobis non nulla porro quidem reprehenderit sed, sequi tenetur vitae! Dicta harum ipsa iusto labore
    quam quibusdam reprehenderit sequi veritatis.</p><p>Corporis laudantium odit quam rerum. Accusamus at commodi esse
    excepturi fugit, ipsum modi nihil porro possimus quisquam reprehenderit, tempora? Aspernatur at atque autem commodi
    dolorem error, esse illo impedit ipsam laudantium libero pariatur perferendis provident quis quos repellendus sit
    vitae?</p>

{% endblock %}